# 타이타닉 데이터 이진분류 정확도 경시대회

In [1]:
import seaborn as sns
dataset_names = sns.get_dataset_names()
titanic = sns.load_dataset('titanic')

In [2]:
df = sns.load_dataset('titanic')
df.head(5)

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [3]:
import numpy as np
import pandas as pd
import tensorflow as tf
seed = 2022
np.random.seed(seed)
tf.random.set_seed(seed)

In [4]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

# 1. 데이터 전처리

- Feature selection

In [5]:
df = df[['survived','pclass','sex','age','sibsp','parch','fare','embarked','deck']]

- 결측치 확인

In [6]:
df.isna().sum()

survived      0
pclass        0
sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
deck        688
dtype: int64

In [7]:
# age 칼럼은 평균으로 대체
df.age.fillna(df.age.mean(), inplace= True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [8]:
# embarked 컬럼은 최빈값으로 대체
df.embarked.value_counts()

S    644
C    168
Q     77
Name: embarked, dtype: int64

In [9]:
df.embarked.fillna('S', inplace =True)
df.isna().sum()

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

survived      0
pclass        0
sex           0
age           0
sibsp         0
parch         0
fare          0
embarked      0
deck        688
dtype: int64

In [10]:
# deck 컬럼은 삭제
df.drop(columns = ['deck'], inplace = True)
df.isna().sum()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

survived    0
pclass      0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
dtype: int64

- 카테고리 값인 sex, embarked 컬럼은 숫자로 변환

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [12]:
df.sex = le.fit_transform(df.sex)
df.embarked = le.fit_transform(df.embarked)
df.head()

   survived  pclass  sex   age  sibsp  parch     fare  embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

2. Train/Test dataset으로 분리

In [13]:
# X와 y를 넘파이 배열로
X = df.iloc[:,1:].values
y = df.survived.values
X.shape, y.shape

((891, 7), (891,))

In [14]:
# y값의 분포
df.survived.value_counts()

0    549
1    342
Name: survived, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, test_size=0.2, random_state=2022
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((712, 7), (179, 7), (712,), (179,))

In [16]:
np.unique(y_train, return_counts=True)

(array([0, 1]), array([439, 273]))

- 모델 저장조건 설정

In [17]:
from tensorflow.keras.callbacks import ModelCheckpoint

In [18]:
import os
if not os.path.exists('model'):
    os.mkdir('model')

In [19]:
model_path = 'model/titanic.h5'
checkpoint = ModelCheckpoint(
    model_path, monitor= 'val_loss', verbose = 1, save_best_only = True
)

- X값 StandardScaler

In [20]:
from sklearn.preprocessing import StandardScaler
X_scaled = StandardScaler().fit_transform(X)
X_scaled.shape

(891, 7)

In [21]:
y.shape

(891,)

- 모델 정의/설정/학습평가

In [22]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [23]:
model = Sequential([
    Dense(30, input_dim=7, activation= 'relu'),  # Hiddem Layer
    Dense(15, activation= 'relu'),
    Dense(1, activation= 'sigmoid')              # Output Layer
])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                240

 dense_1 (Dense)             (None, 15)                465

 dense_2 (Dense)             (None, 1)                 16

=================================================================
Total params: 721
Trainable params: 721
Non-trainable params: 0
_________________________________________________________________

- 실행 환경 설정(complie)

In [24]:
from tensorflow.keras.callbacks import EarlyStopping

early_stopping = EarlyStopping(patience = 30)

In [25]:
model.compile(
    optimizer= 'adam',
    loss = 'binary_crossentropy',        
    metrics=['accuracy']                       

)

In [26]:
hist = model.fit(
    X,  y, validation_split = 0.2, epochs =300, 
    batch_size = 50, verbose =0, callbacks=[checkpoint, early_stopping]
)

Epoch 00001: val_loss improved from inf to 1.18278, saving model to model/titanic.h5

Epoch 00002: val_loss improved from 1.18278 to 0.87903, saving model to model/titanic.h5

Epoch 00003: val_loss improved from 0.87903 to 0.63671, saving model to model/titanic.h5

Epoch 00004: val_loss improved from 0.63671 to 0.55104, saving model to model/titanic.h5

Epoch 00005: val_loss improved from 0.55104 to 0.51989, saving model to model/titanic.h5

Epoch 00006: val_loss improved from 0.51989 to 0.50954, saving model to model/titanic.h5

Epoch 00007: val_loss did not improve from 0.50954

Epoch 00008: val_loss improved from 0.50954 to 0.49698, saving model to model/titanic.h5

Epoch 00009: val_loss did not improve from 0.49698

Epoch 00010: val_loss did not improve from 0.49698

Epoch 00011: val_loss did not improve from 0.49698

Epoch 00012: val_loss improved from 0.49698 to 0.47891, saving model to model/titanic.h5

Epoch 00013: val_loss did not improve from 0.47891

Epoch 00014: val_loss did not improve from 0.47891

Epoch 00015: val_loss improved from 0.47891 to 0.47877, saving model to model/titanic.h5

Epoch 00016: val_loss did not improve from 0.47877

Epoch 00017: val_loss improved from 0.47877 to 0.46630, saving model to model/titanic.h5

Epoch 00018: val_loss did not improve from 0.46630

Epoch 00019: val_loss improved from 0.46630 to 0.45108, saving model to model/titanic.h5

Epoch 00020: val_loss did not improve from 0.45108

Epoch 00021: val_loss did not improve from 0.45108

Epoch 00022: val_loss did not improve from 0.45108

Epoch 00023: val_loss improved from 0.45108 to 0.44632, saving model to model/titanic.h5

Epoch 00024: val_loss did not improve from 0.44632

Epoch 00025: val_loss improved from 0.44632 to 0.43711, saving model to model/titanic.h5

Epoch 00026: val_loss did not improve from 0.43711

Epoch 00027: val_loss did not improve from 0.43711

Epoch 00028: val_loss did not improve from 0.43711

Epoch 00029: val_loss improved from 0.43711 to 0.43045, saving model to model/titanic.h5

Epoch 00030: val_loss did not improve from 0.43045

Epoch 00031: val_loss did not improve from 0.43045

Epoch 00032: val_loss did not improve from 0.43045

Epoch 00033: val_loss did not improve from 0.43045

Epoch 00034: val_loss improved from 0.43045 to 0.41559, saving model to model/titanic.h5

Epoch 00035: val_loss did not improve from 0.41559

Epoch 00036: val_loss improved from 0.41559 to 0.40476, saving model to model/titanic.h5

Epoch 00037: val_loss did not improve from 0.40476

Epoch 00038: val_loss improved from 0.40476 to 0.39693, saving model to model/titanic.h5

Epoch 00039: val_loss did not improve from 0.39693

Epoch 00040: val_loss did not improve from 0.39693

Epoch 00041: val_loss improved from 0.39693 to 0.38924, saving model to model/titanic.h5

Epoch 00042: val_loss did not improve from 0.38924

Epoch 00043: val_loss did not improve from 0.38924

Epoch 00044: val_loss did not improve from 0.38924

Epoch 00045: val_loss did not improve from 0.38924

Epoch 00046: val_loss improved from 0.38924 to 0.38206, saving model to model/titanic.h5

Epoch 00047: val_loss did not improve from 0.38206

Epoch 00048: val_loss did not improve from 0.38206

Epoch 00049: val_loss improved from 0.38206 to 0.37915, saving model to model/titanic.h5

Epoch 00050: val_loss did not improve from 0.37915

Epoch 00051: val_loss did not improve from 0.37915

Epoch 00052: val_loss did not improve from 0.37915

Epoch 00053: val_loss did not improve from 0.37915

Epoch 00054: val_loss improved from 0.37915 to 0.37811, saving model to model/titanic.h5

Epoch 00055: val_loss did not improve from 0.37811

Epoch 00056: val_loss improved from 0.37811 to 0.36605, saving model to model/titanic.h5

Epoch 00057: val_loss did not improve from 0.36605

Epoch 00058: val_loss did not improve from 0.36605

Epoch 00059: val_loss did not improve from 0.36605

Epoch 00060: val_loss improved from 0.36605 to 0.36525, saving model to model/titanic.h5

Epoch 00061: val_loss did not improve from 0.36525

Epoch 00062: val_loss did not improve from 0.36525

Epoch 00063: val_loss did not improve from 0.36525

Epoch 00064: val_loss improved from 0.36525 to 0.36090, saving model to model/titanic.h5

Epoch 00065: val_loss did not improve from 0.36090

Epoch 00066: val_loss did not improve from 0.36090

Epoch 00067: val_loss did not improve from 0.36090

Epoch 00068: val_loss did not improve from 0.36090

Epoch 00069: val_loss did not improve from 0.36090

Epoch 00070: val_loss did not improve from 0.36090

Epoch 00071: val_loss did not improve from 0.36090

Epoch 00072: val_loss did not improve from 0.36090

Epoch 00073: val_loss did not improve from 0.36090

Epoch 00074: val_loss did not improve from 0.36090

Epoch 00075: val_loss improved from 0.36090 to 0.36055, saving model to model/titanic.h5

Epoch 00076: val_loss did not improve from 0.36055

Epoch 00077: val_loss did not improve from 0.36055

Epoch 00078: val_loss did not improve from 0.36055

Epoch 00079: val_loss did not improve from 0.36055

Epoch 00080: val_loss did not improve from 0.36055

Epoch 00081: val_loss did not improve from 0.36055

Epoch 00082: val_loss did not improve from 0.36055

Epoch 00083: val_loss did not improve from 0.36055

Epoch 00084: val_loss did not improve from 0.36055

Epoch 00085: val_loss did not improve from 0.36055

Epoch 00086: val_loss did not improve from 0.36055

Epoch 00087: val_loss did not improve from 0.36055

Epoch 00088: val_loss did not improve from 0.36055

Epoch 00089: val_loss did not improve from 0.36055

Epoch 00090: val_loss improved from 0.36055 to 0.35080, saving model to model/titanic.h5

Epoch 00091: val_loss did not improve from 0.35080

Epoch 00092: val_loss did not improve from 0.35080

Epoch 00093: val_loss did not improve from 0.35080

Epoch 00094: val_loss did not improve from 0.35080

Epoch 00095: val_loss did not improve from 0.35080

Epoch 00096: val_loss did not improve from 0.35080

Epoch 00097: val_loss did not improve from 0.35080

Epoch 00098: val_loss did not improve from 0.35080

Epoch 00099: val_loss did not improve from 0.35080

Epoch 00100: val_loss did not improve from 0.35080

Epoch 00101: val_loss did not improve from 0.35080

Epoch 00102: val_loss did not improve from 0.35080

Epoch 00103: val_loss did not improve from 0.35080

Epoch 00104: val_loss did not improve from 0.35080

Epoch 00105: val_loss did not improve from 0.35080

Epoch 00106: val_loss did not improve from 0.35080

Epoch 00107: val_loss improved from 0.35080 to 0.34564, saving model to model/titanic.h5

Epoch 00108: val_loss did not improve from 0.34564

Epoch 00109: val_loss did not improve from 0.34564

Epoch 00110: val_loss did not improve from 0.34564

Epoch 00111: val_loss improved from 0.34564 to 0.34348, saving model to model/titanic.h5

Epoch 00112: val_loss did not improve from 0.34348

Epoch 00113: val_loss did not improve from 0.34348

Epoch 00114: val_loss did not improve from 0.34348

Epoch 00115: val_loss did not improve from 0.34348

Epoch 00116: val_loss did not improve from 0.34348

Epoch 00117: val_loss did not improve from 0.34348

Epoch 00118: val_loss did not improve from 0.34348

Epoch 00119: val_loss did not improve from 0.34348

Epoch 00120: val_loss did not improve from 0.34348

Epoch 00121: val_loss did not improve from 0.34348

Epoch 00122: val_loss did not improve from 0.34348

Epoch 00123: val_loss did not improve from 0.34348

Epoch 00124: val_loss did not improve from 0.34348

Epoch 00125: val_loss did not improve from 0.34348

Epoch 00126: val_loss did not improve from 0.34348

Epoch 00127: val_loss did not improve from 0.34348

Epoch 00128: val_loss did not improve from 0.34348

Epoch 00129: val_loss did not improve from 0.34348

Epoch 00130: val_loss did not improve from 0.34348

Epoch 00131: val_loss did not improve from 0.34348

Epoch 00132: val_loss did not improve from 0.34348

Epoch 00133: val_loss did not improve from 0.34348

Epoch 00134: val_loss did not improve from 0.34348

Epoch 00135: val_loss did not improve from 0.34348

Epoch 00136: val_loss did not improve from 0.34348

Epoch 00137: val_loss did not improve from 0.34348

Epoch 00138: val_loss did not improve from 0.34348

Epoch 00139: val_loss did not improve from 0.34348

Epoch 00140: val_loss did not improve from 0.34348

Epoch 00141: val_loss improved from 0.34348 to 0.34097, saving model to model/titanic.h5

Epoch 00142: val_loss did not improve from 0.34097

Epoch 00143: val_loss did not improve from 0.34097

Epoch 00144: val_loss did not improve from 0.34097

Epoch 00145: val_loss did not improve from 0.34097

Epoch 00146: val_loss did not improve from 0.34097

Epoch 00147: val_loss did not improve from 0.34097

Epoch 00148: val_loss did not improve from 0.34097

Epoch 00149: val_loss did not improve from 0.34097

Epoch 00150: val_loss did not improve from 0.34097

Epoch 00151: val_loss did not improve from 0.34097

Epoch 00152: val_loss did not improve from 0.34097

Epoch 00153: val_loss did not improve from 0.34097

Epoch 00154: val_loss did not improve from 0.34097

Epoch 00155: val_loss did not improve from 0.34097

Epoch 00156: val_loss did not improve from 0.34097

Epoch 00157: val_loss did not improve from 0.34097

Epoch 00158: val_loss did not improve from 0.34097

Epoch 00159: val_loss did not improve from 0.34097

Epoch 00160: val_loss improved from 0.34097 to 0.33789, saving model to model/titanic.h5

Epoch 00161: val_loss did not improve from 0.33789

Epoch 00162: val_loss did not improve from 0.33789

Epoch 00163: val_loss did not improve from 0.33789

Epoch 00164: val_loss did not improve from 0.33789

Epoch 00165: val_loss did not improve from 0.33789

Epoch 00166: val_loss did not improve from 0.33789

Epoch 00167: val_loss did not improve from 0.33789

Epoch 00168: val_loss did not improve from 0.33789

Epoch 00169: val_loss did not improve from 0.33789

Epoch 00170: val_loss did not improve from 0.33789

Epoch 00171: val_loss did not improve from 0.33789

Epoch 00172: val_loss did not improve from 0.33789

Epoch 00173: val_loss did not improve from 0.33789

Epoch 00174: val_loss did not improve from 0.33789

Epoch 00175: val_loss did not improve from 0.33789

Epoch 00176: val_loss did not improve from 0.33789

Epoch 00177: val_loss did not improve from 0.33789

Epoch 00178: val_loss did not improve from 0.33789

Epoch 00179: val_loss did not improve from 0.33789

Epoch 00180: val_loss did not improve from 0.33789

Epoch 00181: val_loss improved from 0.33789 to 0.33558, saving model to model/titanic.h5

Epoch 00182: val_loss did not improve from 0.33558

Epoch 00183: val_loss did not improve from 0.33558

Epoch 00184: val_loss did not improve from 0.33558

Epoch 00185: val_loss did not improve from 0.33558

Epoch 00186: val_loss did not improve from 0.33558

Epoch 00187: val_loss did not improve from 0.33558

Epoch 00188: val_loss did not improve from 0.33558

Epoch 00189: val_loss did not improve from 0.33558

Epoch 00190: val_loss did not improve from 0.33558

Epoch 00191: val_loss did not improve from 0.33558

Epoch 00192: val_loss did not improve from 0.33558

Epoch 00193: val_loss did not improve from 0.33558

Epoch 00194: val_loss did not improve from 0.33558

Epoch 00195: val_loss did not improve from 0.33558

Epoch 00196: val_loss did not improve from 0.33558

Epoch 00197: val_loss did not improve from 0.33558

Epoch 00198: val_loss did not improve from 0.33558

Epoch 00199: val_loss did not improve from 0.33558

Epoch 00200: val_loss did not improve from 0.33558

Epoch 00201: val_loss did not improve from 0.33558

Epoch 00202: val_loss did not improve from 0.33558

Epoch 00203: val_loss did not improve from 0.33558

Epoch 00204: val_loss did not improve from 0.33558

Epoch 00205: val_loss did not improve from 0.33558

Epoch 00206: val_loss did not improve from 0.33558

Epoch 00207: val_loss did not improve from 0.33558

Epoch 00208: val_loss did not improve from 0.33558

Epoch 00209: val_loss did not improve from 0.33558

Epoch 00210: val_loss did not improve from 0.33558

Epoch 00211: val_loss did not improve from 0.33558

In [27]:
from tensorflow.keras.models import load_model
best_model = load_model(model_path)
best_model.evaluate(X_test, y_test)

6/6 [==============================] - 0s 2ms/step - loss: 0.3900 - accuracy: 0.8492

[0.3899904489517212, 0.8491619825363159]